.container{
    overflow: hidden;
    padding: 18px;
}

#main-header{
    background-color: #008000;
    color: coral;
}
.header-left{
    float: left;
}

.header-right {
    float: right;
    margin: 8px 0 0 10px;
}

#events{
    background-color: #22a046;
    height: 500px;
}

#bottom{
    background-color: green;
}
.button-color{
    background-color: #22a046;
    color: white;
}