.container{
    overflow: hidden;
    padding: 18px;
}



#main-header{
    background-color: #008000;
    color: coral;
}

#events{
    background-color: #97ca78;
    height: 500px;
}

#bottom{
    background-color: green;
}
.button-color{
    background-color: #22a046;
    color: white;
}