<div id="activity-container"></div>
<script>

</script>
<script src="/js/view-activity.js"></script>
<script type="text/template" id="activity-page-template">
 <div class="container">
    <div class="media">
        <img src="/gokart.jpg" class="align-self-center mr-3" alt="...">


        <div class="media-body">
            <h5 class="mt-2"><%-activity.name %></h5>
            <p class="mb-2">Pris: <%-activity.price %></p>
            <p class="mb-2">Min alder: <%-activity.minAge %></p>
            <p class="mb-2">Højde: <%-activity.minHeightCm %></p>
            <p class="mb-2">Periode: <%-activity.minPeriodMin %></p>
            <p class="mb-2">Start: <%-activity.startTime %></p>
            <p class="mb-2">Slut: <%-activity.endTime %></p>
            <div class="form-inline my-2 my-lg-0" id="activity-button-container">

            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="activity-button-template">
    <% if (user.role === "Customer") { %>
    <button type="button" class="btn btn-outline-success my-2 my-sm-0">Book activity</button>
    <% } else if (user.role === "Employee") { %>
    <button type="button" class="btn btn-outline-warning mr-2 my-2 my-sm-0" id="update-activity-btn" >Update activity</button>
    <button class="btn btn-outline-danger my-2 my-sm-0">Delete activity</button>
    <% } else { %>
    <% } %>
</script>

<!--<script>-->
<!--    console.log("test")-->
<!--    -->
<!--</script>-->