<div class="backgroundcolor">
    <div class="container" id="card-container">

    </div>
</div>

<script src="js/view-activities.js"></script>

<script type="text/template" id="activity-card">
    <div class="container">
        <div class="card" style="width:200px">
            <img class="card-img-top" src="<%- activity.image %>" alt="Card image" style="width:100%;border-radius: unset;">
            <div class="card-body">
                <h4 class="card-title"><%- activity.name %></h4>
            </div>
        </div>
    </div>
</script>